<p><%= @restaurant.name %></p>
<p><%= @restaurant.description %></p>
<p><%= @restaurant.address %></p>
<p><%= @restaurant.rating %></p>
<%= link_to "Edit #{@restaurant.name}", edit_restaurant_path(@restaurant) %>
<%= link_to "Add review", new_restaurant_review_path %>
