<div class="container">
  <p>Name: <%= @restaurant.name %></p>
  <p>Description: <%= @restaurant.description %></p>
  <p>Address: <%= @restaurant.address %></p>
  <p>Average rating: <%= @restaurant.average_rating %></p>
  <p> <% @stars_array.each do |image| %>
      <%= image_tag(image) %>
    <% end  %>
  </p>

  <% if (current_user && current_user.id == @restaurant.user_id)%>
    <%= link_to "Edit #{@restaurant.name}", edit_restaurant_path(@restaurant) %>
  <% end %>

  <% if (current_user && current_user.id != @restaurant.user_id)%>
    <%= link_to "Add review", new_restaurant_review_path(@restaurant) %>
  <% end %>

  <%= link_to "View reviews", restaurant_reviews_path(@restaurant) %>

  <br>  <br>
  <iframe
    width="600"
    height="450"
    frameborder="0" style="border:0"
    src="<%= 'https://www.google.com/maps/embed/v1/place?key=' + ENV["GOOGLE_API_KEY"] + '&q='+ @query_string %>" allowfullscreen>
  </iframe>

</div>
