<div class="container">
  <div class="panel panel-info">
    <div class="panel-heading">
      <div class="row">
        <div class="col-md-9">
          <h4>Name: <%= @restaurant.name %></h4>
        </div>
        <div class="col-md-3">
          <% @stars_array.each do |image| %>
              <%= image_tag(image) %>
            <% end  %>
        </div>
      </div>
    </div>
    <div class="panel-body">
      <p>Description: <%= @restaurant.description %></p>
      <p>Address: <%= @restaurant.address %></p>
      <p>Average rating: <%= @restaurant.average_rating %></p>

      <!-- <p> <% @stars_array.each do |image| %>
          <%= image_tag(image) %>
        <% end  %>
      </p> -->

      <% if (current_user && current_user.id == @restaurant.user_id)%>
        <%= link_to "Edit #{@restaurant.name}", edit_restaurant_path(@restaurant) %>
      <% end %>

      <% if (current_user && current_user.id != @restaurant.user_id)%>
        <%= link_to "Add review", new_restaurant_review_path(@restaurant) %>
      <% end %>

      <%= link_to "View reviews", restaurant_reviews_path(@restaurant) %>

      <div class="google-maps">
        <iframe
          src="<%= 'https://www.google.com/maps/embed/v1/place?key=' + ENV["GOOGLE_API_KEY"] + '&q='+ @query_string %>" allowfullscreen>
        </iframe>
      </div>
    </div>

  </div>





</div>
