<p>Name: <%= @restaurant.name %></p>
<p>Description: <%= @restaurant.description %></p>
<p>Address: <%= @restaurant.address %></p>
<p>Average Rating: <%= @restaurant.rating %></p>
<% if (current_user && current_user.id == @restaurant.user_id)%>
  <%= link_to "Edit #{@restaurant.name}", edit_restaurant_path(@restaurant) %>
<% end %>

<% if (current_user && current_user.id != @restaurant.user_id)%>
  <%= link_to "Add review", new_restaurant_review_path(@restaurant) %>
<% end %>

<%= link_to "View reviews", restaurant_reviews_path(@restaurant) %>
